<!DOCTYPE HTML>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragments/main_layout}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Dashboard | SoNet</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-socket.js}"></script>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/admin.css}"/>
</head>
<body>
<!--<body th:onload="'subscript();'">-->
<div layout:fragment="content">
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Administrator Dashboard
                </h1>
                <h2 class="subtitle">
                    Welcome Admin 😊
                </h2>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor" style="background-color: #fafafa;">
        <div class="tile is-parent is-2" style="padding: 3rem 2rem 0;">
            <aside class="tile menu is-child">
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li><a href="/admin/dashboard"
                           th:href="@{/admin/dashboard}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/admin/dashboard' ? 'is-active':''}">
                        Notifications</a></li>
                    <li><a href="/admin/dashboard/advertisements"
                           th:href="@{/admin/dashboard/advertisements}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/admin/dashboard/advertisements' ? 'is-active':''}">
                        Advertisements</a></li>
                    <li><a href="/admin/dashboard/claims"
                           th:href="@{/admin/dashboard/claims}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/admin/dashboard/claims' ? 'is-active':''}">
                        User Claims</a></li>
                    <li><a href="/admin/dashboard/unhealthy-contents"
                           th:href="@{/admin/dashboard/unhealthy-contents}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/admin/dashboard/unhealthy-contents' ? 'is-active':''}">
                        Unhealthy Content</a></li>
                </ul>
            </aside>
        </div>
        <div class="tile is-parent is-10"
             style="height: 65vh; overflow-x: hidden; overflow-y: auto; background-color: #fff; padding: 3rem 2rem 0;">
            <article class="tile is-child">
                <p class="title">Notifications</p>
<!--                <p class="subtitle">Notifications go here...</p>-->
                <div  id="result">
<!--                    th:if="${!notifications.isEmpty()}"-->
                    <table class="table is-striped" id="notify-table" >
                        <thead>
                        <tr class="is-selected">
<!--                            <th>#</th>-->
                            <th class="table-column">Type</th>
                            <th class="table-column">User</th>
                            <th class="table-column">Text</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                        <tr th:each="notif : ${notifications}">
                            <!--                            <td scope="row" th:text="1">1</td>-->
                            <td th:text="${notif.type}"></td>
                            <td th:text="${notif.user.name}"></td>
                            <td th:text="${notif.text}"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>