<!DOCTYPE HTML>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragments/admin-dashboard-layout}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Dashboard | SoNet</title>
</head>
<body>
<div layout:fragment="admin-dashboard-content">

    <article class="tile is-child">
        <p class="title">Notifications</p>
        <p class="subtitle">Notifications go here...</p>
    </article>

</div>
</body>
</html>