<!DOCTYPE HTML>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragments/main_layout}"
        xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Details | SoNet</title>
</head>
<body>
<div layout:fragment="content">
    <section class="section"
             style="padding-top:0px; height: 75vh; overflow-x: hidden; overflow-y: auto; background-color: #fff;">
        <div class="columns is-centered is-vcentered">
            <div class="column is-desktop is-two-fifths is-centered">
                <div id="root">
                    <single-post :loaded="false" th:attr="'v-bind:post'='{id:' + ${id} + '}'" :showDetailsLink="false"/>
                </div>
            </div>
            <script type="text/javascript" th:src="@{/js/post.js}"></script>
        </div>
    </section>
</div>
</body>
</html>