<!DOCTYPE HTML>
<div th:fragment="form" class="container" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

    <nav class="panel">
        <p class="panel-heading" th:text="#{title.create.post}">
            Create post
        </p>
        <div class="panel-block">
            <p class="control">
                <textarea class="textarea modal-trigger" placeholder="Textarea"
                          data-target="modal-post"
                          rows="2"
                          th:placeholder="#{label.add_content}"></textarea>
            </p>
        </div>
    </nav>
    <form method="post" th:object="${post}" action="#">
        <div class="modal" id="modal-post">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" th:text="#{title.create.post}">Create</p>
                    <a class="delete" aria-label="close"></a>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <div class="control">
                            <textarea
                                    class="textarea" required
                                    th:placeholder="#{label.add_content}"
                                    rows="2"
                                    placeholder="Textarea"
                                    name="text"></textarea>
                        </div>
                    </div>
                    <div class="file has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="contentFile">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fa fa-upload"></i>
                              </span>
                              <span class="file-label" th:text="#{label.choose_file}">
                                Choose a file…
                              </span>
                            </span>
                        </label>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a id="submit" class="button is-success is-fullwidth" th:text="#{title.create.post}">Submit</a>
                </footer>
            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</div>