<!DOCTYPE HTML>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragments/main_layout}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Edit User Profile | SoNet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/user-profile.js}"></script>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/profile.css}"/>
</head>
<body>
<div layout:fragment="content" class="container"
     style="margin-top: 2rem; margin-bottom: 6rem; padding: 0 2rem; width: 700px;">

    <div class="column box">
        <h2 class="title profile-label" style="color: black;">Edit Profile</h2>
    </div>

    <div class="columns" id="profileForm">
        <div class="column is-4" style="margin-left: 2rem;">
            <figure class="image">
                <img th:if="${user.imageUrl.startsWith('http')}" id="img-display"
                     th:src="${user.imageUrl}"
                     th:alt="${user.name}"/>
                <img th:if="${!user.imageUrl.startsWith('http')}" id="img-display"
                     th:src="${user.imageUrl.substring(user.imageUrl.indexOf('8080/')+4)}"
                     th:alt="${user.name}"/>
            </figure>
        </div>
        <div class="column is-8">
            <form th:object="${user}" th:action="@{/user/saveProfileChanges}" method="post" class="box"
                  enctype="multipart/form-data">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="name" th:value="*{name}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="email" th:value="*{email}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Location:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="location" th:field="*{location}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Gender:</label>
                    </div>
                    <div class="field-body">
                        <div class="field select">
                            <div class="control">
                                <select class="select" th:field="*{gender}" th:value="*{gender}" required>
                                    <option value="" selected
                                            th:text="#{label.signup.gender}">Choose Gender
                                    </option>
                                    <option th:each="targetGenderValue : ${T(edu.mum.sonet.models.enums.Gender).values()}"
                                            th:value="${targetGenderValue.name()}"
                                            th:text="${targetGenderValue.name()}">FEMALE
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Date Of Birth:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="date" name="dateOfBirth" th:field="*{dateOfBirth}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Password:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="oldPassword" th:value="*{oldPassword}"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">New Password:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="password" th:value="*{password}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Photo:</label>
                    </div>
                    <div class="control field-body">
                        <label class="file-label is-normal">
                            <input class="input file-input " type="file" id="imageFile" name="imageFile"
                                   th:field="*{imageFile}">
                            <span class="file-cta">
                                <span class="file-icon">
                                 <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                Choose a file…
                                 </span>
                                 </span>
                            <span class="file-name">
                                ...
                                </span>
                        </label>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                    Save Changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>


</div>
</body>
</html>
