<!DOCTYPE HTML>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragments/main_layout}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>User Profile | SoNet</title>
    <!--    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/profile.css}"/>-->
</head>
<body>
<div layout:fragment="content" class="container"
     style="margin-top: 2rem; margin-bottom: 47vh; padding: 0 2rem; width: 700px;">

    <div class="column box"><h2 class="title profile-label">User Profile</h2></div>

    <div id="profileForm">

        <div class="columns">
            <div class="column " id="profile-follow" th:if="${!#authentication.getName().equals(user.email)}">
                <a class="button is-success is-outlined is-pulled-right" th:if="${!follow}"
                   th:href="@{/user/follow(email=${user.email})}">Follow</a>
                <a class="button is-success is-outlined is-pulled-right" th:if="${follow}"
                   th:href="@{/user/unfollow(email=${user.email})}">UnFollow</a>
            </div>
        </div>
        <div class="columns">

            <div class="column is-4" style="margin-left: 2rem;">
                <figure class="image">
                    <img th:if="${user.imageUrl.startsWith('http')}" id="img-display"
                         th:src="${user.imageUrl}"
                         th:alt="${user.name}"/>
                    <img th:if="${!user.imageUrl.startsWith('http')}" id="img-display"
                         th:src="${user.imageUrl.substring(user.imageUrl.indexOf('8080/')+4)}"
                         th:alt="${user.name}"/>
                </figure>
            </div>
            <div class="column is-8" id="profile-data" style="padding: 2rem;">
                <div class="columns">
                    <div class="column is-3"><label class="label profile-label">Name:</label></div>
                    <div class="column is-9"><p th:text="${user.name}"></p></div>
                </div>
                <div class="columns">
                    <div class="column is-3"><label class="label profile-label"> Email:</label></div>
                    <div class="column is-9"><p th:text="${user.email}"></p></div>
                </div>
                <div class="columns">
                    <div class="column is-3"><label class="label profile-label">Location:</label></div>
                    <div class="column is-9"><p th:text="${user.location}"></p></div>
                </div>
                <div class="columns">
                    <div class="column is-3"><label class="label profile-label">Gender:</label></div>
                    <div class="column is-9"><p th:text="${user.gender}"></p></div>
                </div>
                <div class="columns">
                    <div class="column is-3"><label class="label profile-label">Date Of Birth:</label></div>
                    <div class="column is-9"><p th:text="${user.dateOfBirth}"></p></div>
                </div>
                <div class="columns" th:if="${#authentication.getName().equals(user.email)}">
                    <!--                    <form th:action="@{/user/editProfile(email=${#authentication.getName()})}" >-->
                    <form th:action="@{/user/editProfile}" method="post">
                        <input hidden type="text" th:name="email" th:value="${#authentication.getName()}"/>
                        <button class="button is-primary" type="submit">Edit Profile</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>
