html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.menu-list a.is-active {
    background-color: #48c774;
}

.hero.is-success {
    background: #F2F6FA;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box {
    /*margin-top: 5rem;*/
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
    font-weight: 300;
}

p.subtitle {
    padding-top: 1rem;
}

/*
    Advertisement
 */
#add-advertisement {
    background-color: #F2F2F2;
    width: 100vw;
}

.select {
    width: 100%;
    /*margin: 1rem 0 2rem;*/
}

.has-text-black{
    color: black;
}

.field{
    padding-bottom: 10px;
}

.fa{
    margin-left: 5px;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}

#select-div, #gender {
    width: 100%;
}

.noti-icon .badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 7px;
    border-radius: 50%;
    background: #ff3860;
    color: white;
}
